/*http://html.dynamiclayers.net/at/appico/index.html*/
body{
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}
/*stiluri comune*/
.tr{
    text-align: right;
}
.tl{
    text-align-last: left;
}
.tc{
    text-align: center;
}
.container{
    max-width: 1140px;
    margin: auto;
    background-color: red;
}
#features .table{
    display: table;
}
/*stiluri specifice sectiunii*/
#features .table .row{
    display: table-row;
}
#features .table .row>*{
    display: table-cell;
    background-color: #333;
    vertical-align: top;
}
#features .table .row>ul{
    width: 30%;
}
#features .table .row>div{
    width: 40%;
}
#features .table .row div img{
    width: 80%;

}
#features li::before{
   content: '';
   color: blue;
   display: inline-block;
   width: 24px;
   height: 24px;
   position: relative;
   top: 2.9em;
}
#features ul:first-child li::before{
    right: -1.2em;
}
#features ul:last-child li::before{
    left: -1.2em;
}
#features ul:first-child li:nth-child(1)::before{
    background-image: url(img/touch_app-24px.svg);
  
 }
 #features ul:first-child li:nth-child(2)::before{
    background-image: url(img/dashboard-24px.svg);
  
 }
 #features ul:first-child li:nth-child(3)::before{
    background-image: url(img/language-24px.svg);
  
 }
 #features ul:last-child li:nth-child(1)::before{
    background-image: url(img/important_devices-24px.svg);
  
 }
 #features ul:last-child li:nth-child(2)::before{
    background-image: url(img/dashboard-24px.svg);
  
 }
 #features ul:last-child li:nth-child(3)::before{
    background-image: url(img/dashboard-24px.svg);
  
 }
 #features ul h2{
    margin-bottom: 2em;;
  
 }